body {
    margin: 0;
    padding-bottom: 0;
    padding-top: 0;
    font-family: 'Times New Roman', Times, serif;
    background: linear-gradient(to right, #fdfdfd, #f471c6);
}

img {
    max-width: 100%;
}

.logo {
    width: 100px;
}

.nav-links {
    display: flex;
    justify-content: flex-end;
    gap: 20px;
}

.nav-links a {
    text-decoration: none;
    color: #000000;
    padding: 10px 15px; 
    border-radius: 5px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
}

.nav-links a:hover {
    background-color: rgba(255, 255, 255, 0.2);
    box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.4);
}

.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 30px;
}

.text-section {
    column-count: 2;
    column-gap: 30px;
    text-align: justify; 
}

.statistics {
    font-weight: bold;
    font-size: 20px;
    color:#380db9;
}

.page-phrase {
    text-align:center;
    font-style:italic;
    font-size:80px
}

.image-section {
    display: flex; 
    justify-content: space-between; 
    align-items: center;
    margin-top: 20px;
    margin-bottom: 50px; 
}

.contact-entry-form ul {
    display: block;
    list-style-type: none;
    margin: 0 0 10px;
    position: relative;
}

.contact-entry-form {
    display: flex;
    justify-content: center;
    min-height: 100vh; 
}

button:hover {
    background-color: #17cae1;
}

button {
    padding: 12px 20px;
    background-color: #17cae1;
    color: white;
    border: none;
    border-radius: 5px; 
    cursor: pointer; 
    font-size: 16px; 
    transition: background-color 0.3s ease, box-shadow 0.3s ease; 
    margin-left: 85px;
}

footer {
    background-color: #000000;
    opacity: 0.2;
    height: 100px;
    width: 100%;
}

.soical-media-icons {
    color: #000000;
    display: flex; 
    justify-content: center; 
    align-items: center; 
    height: 100px; 
}

.soical-media-icons a{
    font-size: 30px;
    margin-left: 20px;
    color:#f471c6;
    text-decoration: none;
}

.service-list li{
    display: flex;
    margin-bottom: 15px;
    font-size: 30px;
}

.service-list ul{
    list-style-type: none;
}